<div class="row" style="background-color: #e9f5f8 ">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <nav class="navbar navbar-expand-lg" style="background-color: #A15547">
            <!--    <a class="navbar-brand" href="#">Navbar</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>-->

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/" style="color:white"> Почетна </a>
                    </li>
                    <li class="nav-item dropdown">

                        <div class="dropdown">
                            <button class="btn btn-light p-0 m-0"
                                    type="button" id="dropdownMenuButton1"
                                    data-bs-toggle="dropdown" aria-expanded="false"\
                                    style="padding: 0; border: none; background: none; font-size: 20px ">
                                <a class="nav-link dropdown-toggle" href="#"
                                   style="background-color: #A15547; color:white;" > Едукативни текстови </a>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1" style="background-color: #A15547">
                                <li><a class="dropdown-item" href="/text/education/АНКСИОЗНОСТ" style="font-size: 20px">Анксиозност</a></li>
                                <li><a class="dropdown-item" href="/text/education/САМОДОВЕРБА" style="font-size: 20px">Самодоверба</a></li>
                                <li><a class="dropdown-item" href="/text/education/СТРЕС" style="font-size: 20px">Стрес</a></li>
                                <li><a class="dropdown-item" href="/text/education/ПАНИЧНИ_НАПАДИ" style="font-size: 20px">Панични напади</a></li>
                            </ul>
                        </div>

                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/questions" style="color:white">Ваши прашања</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/contact" style="color:white">Контакт</a>
                    </li>
                </ul>

                <form class="form-inline" method="get" action="/searchText">
                    <div class="row">
                        <div class="col-md-6">
                        <input class="form-control mr-sm-2" type="search" placeholder="Внеси збор..." aria-label="Search"
                               name="search" id="search" style="width: fit-content; margin-top: 8px">
                        </div>
                        <div class="col-md-6">
                        <button class="btn btn-outline-light" type="submit"
                                style="background-color:#AADEF3; border: none; margin-left: 3px; color:black;
                                font-size: 20px; padding:4px; margin-top: 8px">Пребарувај текстови</button>
                        </div>
                    </div>
                </form>
            </div>
        </nav>
    </div>
    <div class="col-md-1"></div>
</div>