<div class="container-fluid" style="background-color: #e9f5f8">
    <br>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <a href="/" class="btn btn-outline-light"
               style="background-color:#D58F76; border: none; margin-bottom: 30px;  color:white; font-size: 20px; padding:12px">НАЗАД</a>
        </div>
        <div class="col-md-1"></div>
    </div>
    <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <div class="row">
                    <div class="col-md-7 text-center" id="blue">
                        <br><br>
                        <p> Психолог Каролина Ангелова</p>
                        <p>    Lorem ipsum dolor sit amet, </p>
                        <p>    consectetur adipiscing elit. </p>
                        <p> Maecenas id est sed lacus volutpat </p>
                        <p> lobortis. Lorem ipsum dolor sit amet.</p>
                        <br>
                        <p><span><i class="bi bi-telephone"></i></span> Телефон - +91 9736 780 5805</p>
                        <p><span><i class="bi bi-envelope"></i></span> Е-пошта - test@mail.com</p>
                    </div>
                    <div class="col-md-5 text-center" id="brown" style="color:white">
                        <br><br>
                        <p>Часови за консултирање:</p>
                           <p class="mb-1">Понеделник 8:30 - 12:30</p>
                            <p class="mb-1">Вторник 13:30 - 17:30</p>
                           <p class="mb-1">Среда 8:30 - 12:30</p>
                        <p class="mb-1">Четврток 13:30 - 18:30</p>
                           <p class="mb-1">Петок 9:00 - 14:30</p>
                           <p class="mb-1"> Сабота 15:00 - 17:00</p>
                        <p class="mb-1">Недела 15:00 - 17:00</p>

                    </div>
                </div>
            </div>
            <div class="col-md-1"></div>
    </div>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10" id="psychologist">
            <br><br>
            <div class="row">
                <div class="col-md-8">

                </div>
                <div class="col-md-4 text-center" id="brownSmall">
                    <br>
                    <h5 style="color:white">ЗАКАЖИ ИНДИВИДУАЛНО СОВЕТУВАЊЕ</h5>
                     <h5 style="color:white">   СО СТРУЧНО ЛИЦЕ </h5>
                    <br>
                    <a href="/contact/appointment"
                       class="btn btn-primary"
                       style="background-color:#D58F76; border-color:#D58F76; font-size: 20px">
                        ЗАКАЖИ</a>
                    <br>
                </div>
            </div>
        </div>

        <div class="col-md-1"></div>

    </div>

</div>
